.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

  .form-price {
    width: 25%;
  }

  .form-description {
    width: 100%;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background-color: $our-purple;
    color: white;
    &:hover {
      background-color: #69224c;
      color: white;
    }
  }
}
